body {
    background-color: #0915bc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #433838;
    font-size: 40px;
    margin-bottom: 20px;
}